<a href="https://colab.research.google.com/github/renaduay/MJR-Big-Data/blob/main/Python_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Big Data
Estructuras de control y funciones clásicas

### 1) Nuestro amigo el **IF**

In [5]:
nro_de_cliente=999

if nro_de_cliente==999:
  print('es el cliente 999!!')
else:
  print('cliente no encontrado :(')

es el cliente 999!!

In [6]:
nro_de_cliente=13151

In [7]:
# if anidado
if nro_de_cliente==999:
  print('es el cliente 999!!')
elif nro_de_cliente==111:
  print('es el cliente 111!!')
else:
  print('cliente no encontrado :(')

cliente no encontrado :(

Igual: x1 == x2

Distinto: x1 != x2

Menor a: x1 < x2

Menor o igual a: x1 <= x2

Mayor a: x1 > x2

Mayor o igual x1 >= x2

### 2) *Mientras* vemos el `while`

In [8]:
# imprimir 3 elementos
i=0
while(i<3):
  i=i+1
  print(i)

1
2
3

In [ ]:
# bucle infinito
while(1):
  x1=input('¿Nombre? ')

  if x1=='me aburri':
    break

  print('Bienvenido! ' + x1)

¿Nombre? renata
Bienvenido! renata
¿Nombre? juana
Bienvenido! juana

### 3) *Para* que usar while, si hay `for`!

In [ ]:
lista=[1,2,3,4]

In [ ]:
for i in lista:

  if i == 3:
    break

  print(i)

¿Cómo usar for sobre pandas data frame?

In [ ]:
import pandas as pd

d_star_wars=pd.read_csv(filepath_or_buffer="https://raw.githubusercontent.com/fpineyro/homework-0/master/starwars.csv", sep=',')
d_star_wars.head()

In [ ]:
# no hacer así
for row in d_star_wars:
  print(row)

In [ ]:
# Usar iterrows()

for label, row in d_star_wars[:5].iterrows():
  print('El label es: ' + str(label))
  print(row)

Accediendo a cada valor:

In [ ]:
for _, row in d_star_wars[:5].iterrows():
  print('Personaje: ' + row['name'] + ' lugar ' + row['homeworld'])

Personaje: Luke Skywalker lugar Tatooine
Personaje: C-3PO lugar Tatooine
Personaje: R2-D2 lugar Naboo
Personaje: Darth Vader lugar Tatooine
Personaje: Leia Organa lugar Alderaan

### 4) ¿Cómo crear funciones en Python?

In [ ]:
def mi_funcion():
  print('hola mundo')

In [ ]:
mi_funcion()

hola mundo

¿Cómo crear una función con parámetros?

In [ ]:
def sumar(valor1, valor2):
  return valor1*valor2

In [ ]:
sumar(valor1 = 5, valor2=5)

¿Cómo explorar el contenido de una función?

In [ ]:
%%capture
!pip install funpymodeling

In [ ]:
from funpymodeling.exploratory import status

In [ ]:
status(d_star_wars)

In [ ]:
#calcula la cantidad de valores únicos presentes en cada columna del DataFrame.
d_star_wars.nunique().values

In [ ]:
d_star_wars.columns

In [ ]:
def status2(data):
  return pd.DataFrame({'variables': data.columns, 'valores_unicos':data.nunique().values})

In [ ]:
status2(d_star_wars)

<br>

---



# C.2.1) ¿Qué es `numpy`?

In [ ]:
import numpy as np

In [ ]:
arr1=np.array([1,2,3,4,5])

In [ ]:
arr1

In [ ]:
arr1+arr1

In [ ]:
arr1.shape # ranking 1

¿Cómo crear un "tabla" en numpy?

Rank 2 array / 2D

In [ ]:
arr2=np.array([[1,2,3,4,5], [9,8,7,6,5]])

arr2

In [ ]:
arr2.shape

Rank 3 array / 3D

In [ ]:
arr3=np.array([[[1,2,3,4,5], [9,8,7,6,5]]])

In [ ]:
arr3.shape

### C.2.2) ¿Cómo hacer `reshape` en numpy?

In [ ]:
arr3=np.array([1,2,3,4,5,6])
print(arr3)
print(arr3.shape)

In [ ]:
arr4=arr3.reshape((2,3))

arr4

In [ ]:
arr4.shape

¿Cómo hacer flatten de un numpy array?

In [ ]:
arr5=arr4.flatten()
arr5

### C.2.3) ¿Cómo hacer slice de numpy?

In [ ]:
arr1

In [ ]:
# 1er elemento
arr1[0]

In [ ]:
arr1[0:3]

### C.2.4) ¿Cómo acceder a arrays n-dimensionales?

In [ ]:
arr4

In [ ]:
arr4[0,:]

In [ ]:
arr4[1,0]

In [ ]:
arr4[1,0:2]

In [ ]:
# acceder a toda la 1er dimensión
arr4[0]

Imagen resumen numpy

<img src="https://fgnt.github.io/python_crashkurs_doc/_images/numpy_array_t.png" width="300px">

[Fuente](https://fgnt.github.io/python_crashkurs_doc/include/numpy.html).

#Ejercicios

Ejercicio 1: Crear un if anidado para verificar si el numero de cliente está entre 0 y 4, le decimos 'usuario autorizado' en cualquier otro caso indicar 'usuario no autorizado'.

In [ ]:
#Ejercicio 1
numero_cliente = int(input("Introduce el número de cliente: "))
if numero_cliente >= 0:
    if numero_cliente <= 4:
        print("Usuario autorizado")
    else:
        print("Usuario no autorizado")
else:
    print("Usuario no autorizado")

Ejercicio 2: Mediante while solicitar al usuario que ingrese un número entre 1 y 5. Si el número ingresado es 3 que imprima 'Usted ha ganado la loteria'

In [ ]:
#Ejercicio 2
numero = 0
while numero < 1 or numero > 5:
    numero = int(input("Ingrese un número entre 1 y 5: "))

    if numero == 3:
        print("Usted ha ganado la lotería")
        break
    elif numero < 1 or numero > 5:
        print("El numero no es correcto")

Ejercicio 3: Crear una lista que contenga los valores desde 0 a 10. Luego solicitar que se ingrese un número entre 0 y 10. Imprimir en pantalla los valores de la lista hasta el número que ingresaron

In [ ]:
#Ejercicio 3

lista = list(range(11))

numero_ingresado = int(input("Ingresa un número entre 0 y 10: "))

if 0 <= numero_ingresado <= 10:
print(lista[:numero_ingresado + 1])
else:
print("Número fuera del rango.")

Ejercicio 4: Solicitar que se ingresen dos valores, mediante una función sumar estos dos numero y mostrar el resutaldo en pantalla

In [1]:
#Ejercicio 4
#Función
def sumar(n1, n2):
    return n1 + n2
num1 = float(input("Ingrese el primer número: "))
num2 = float(input("Ingrese el segundo número: "))
resultado = sumar(num1, num2)

Ingrese el primer número: 2
Ingrese el segundo número: 1

In [2]:
#Ejercicio 4
print(f"El resultado de la suma es: {resultado}")

El resultado de la suma es: 3.0

Ejercicio 5: Solicitar que se ingresen dos valores, luego solicitar que tipo de operación se quiere realizar (suma, resta, multiplicación o división). Luego mediante una función realizar la operación matematica e imprimir el resultado.

In [3]:
#Ejercicio 5
#Función
def calcular(num1, num2, operacion):
  if operacion == "suma":
    return num1 + num2
  elif operacion == "resta":
    return num1 - num2
  elif operacion == "multiplicacion":
    return num1 * num2
  elif operacion == "division":
    if num2 != 0:
      return num1 / num2
    else:
      return "Error: División por cero"
  else:
    return "Operacion no valida"
num1 = float(input("Ingrese el primer número: "))
num2 = float(input("Ingrese el segundo número: "))
operacion = input("Ingrese la operación (suma, resta, multiplicacion, division): ")

Ingrese el primer número: 2
Ingrese el segundo número: 1
Ingrese la operación (suma, resta, multiplicacion, division): resta

In [4]:
#Ejercicio 5
resultado = calcular(num1, num2, operacion)
print("El resultado es:", resultado)

El resultado es: 1.0